<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="BeLifeEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=BeLife;Persist Security Info=True;User ID=sa;Password=Duocadmin2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Vista.Properties.Settings.BeLifeConnectionString"
        connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=BeLife;Persist Security Info=True;User ID=sa;Password=Duocadmin2018"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>